<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hycan.idn.tsp.message.repository.mysql.TaskResourceRelationMapper">

    <resultMap id="BaseResultMap" type="com.hycan.idn.tsp.message.entity.mysql.TaskResourceRelationEntity">
        <result property="id" jdbcType="BIGINT" column="id"/>
        <result property="baseTaskId" jdbcType="BIGINT" column="base_task_id"/>
        <result property="resourceId" jdbcType="BIGINT" column="resource_id"/>
        <result property="isIllustration" jdbcType="BOOLEAN" column="is_illustration"/>
    </resultMap>

    <delete id="deleteByBaseTaskId">
        DELETE FROM task_resource_relation WHERE base_task_id = #{base_task_id}
    </delete>

</mapper>